.home-page {
  min-height: 100vh;
  padding: 20px;
  padding-top: 120px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 80px;
}
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }
}
