.home-page {
  min-height: 100vh;
  padding: 20px;
  padding-top: 120px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.home-container {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  gap: 30px;
}

.saved-weathers-column {
  min-width: 300px;
}

.weather-column {
  flex: 1;
}

.forecast-column {
  flex: 1;
}
@media (max-width: 1024px) {
  .home-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .saved-weathers-column {
    min-width: auto;
  }
  .home-page {
    padding: 0px;
    margin-top: 90px;
  }
}
