.weather-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.today-forecast {
  background: var(--bg-secondary);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
}

.today-forecast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today-forecast-content {
  display: flex;
}

.current-weather-icon {
  width: 80px;
  height: 80px;
}
